<div id="main">
  <h1>Notre boutique à Rethel</h1>
  <div id="info_magasin">
    <img
      src="/assets/images/Devanture Optique Ralph Petit encadré.jpg"
      alt=""
    />

    <div id="info">
      <h2>Horaires d'ouvertures</h2>
      <table>
        <colgroup>
          <col style="width: 300px" />
          <col />
          <col />
        </colgroup>
        <tr>
          <td>Lundi</td>
          <td>09h00 - 12h00</td>
          <td>/</td>
          <td>14h00 - 18h00</td>
        </tr>
        <tr>
          <td>du Mardi au Samedi</td>
          <td>09h00 - 12h00</td>
          <td>/</td>
          <td>14h00 - 19h00</td>
        </tr>
      </table>
      <div>
        <p>Equipé Accès fauteuil roulant</p>
      </div>
    </div>
  </div>
</div>
