<footer>
  <div class="footer">
    <div class="footer-item logo">
      <img src="../../../assets/images/logo Ralph Petit -noir.jpg" alt="" />
    </div>
    <div class="footer-item-info">
      <div>
        <p>1 rue Colbert</p>
        <p>08300 RETHEL</p>
        <p>Tél : 03.24.38.49.43</p>
        <p>E-mail : griff.optic&#64;orange.fr</p>
      </div>
    </div>
    <div class="footer-item-RS">
      <ul>
        <li>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-item-menu">
      <ul>
        <li><a routerLink="/">Qui sommes-nous</a></li>
        <li>Notre Boutique</li>
        <li>Contrôle Visuel</li>
        <li>Nos collections</li>
        <li>Nos Services</li>
        <li>Nos partenaires</li>
        <li>Actualités</li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>©2023 Optique Ralph Petit. Tous droits réservés.</p>
    <p>Design by Htag Facility</p>
  </div>
</footer>
