<div class="container">
  <div class="row">
    <h1>Nos Services</h1>
    <div class="col-md-6">
      <h2>Réglages</h2>
      <p>
        Bénéficiez d'un réglage optimal de vos lunettes sans frais
        supplémentaires. Nos opticiens experts vous assurent un confort de
        vision maximal.
      </p>
      <h2>Réparation</h2>
      <p>
        Nous réparons avec expertise vos lunettes, quelle que soit la marque,
        pour leur redonner solidité et confort. Un service rapide et abordable.
      </p>
      <h2>Service à domicile</h2>
      <p>
        Découvrez notre service de visite à domicile. Un opticien qualifié se
        rendra chez vous pour des examens de la vue et la sélection de montures.
        Praticité et qualité, à votre porte.
      </p>
    </div>
    <div class="col-md-6" style="display: flex">
      <app-image-box
        imagePath="/assets/images/a_140665-3.jpg"
        backgroundColor="#000000"
        style="position: relative; margin: 0 auto"
      ></app-image-box>
    </div>
  </div>
</div>
