*,
::before,
::after {
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 80%;
}

.home {
  width: 100%;
  height: 100vh;

  top: 150px;
  position: fixed;
}
video {
  width: 100%;
  height: 500px;
  position: fixed;
  margin-top: 30px;
  object-fit: contain;
  z-index: 0;
}
