h1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.marques {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: auto;
  flex-flow: row wrap;

  text-align: center;
  &_list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  & .marqueCard {
    margin: 0 auto;

    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 240px;
    text-align: center;

    align-items: end;

    & div h2 {
      font-size: 20px;
    }
  }
}
//fond gris pour le logo
.marque_thumb {
  width: 100%;
  height: 90px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-color: transparentize($color: #ffffff, $amount: 0.5);
}
.logo_link {
  display: flex;
  flex-flow: column;
  background-color: beige;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

img {
  height: 70px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  object-fit: contain;
}
