h1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.marques {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: auto;
  flex-flow: row wrap;

  text-align: center;
  &_list {
    display: flex;
    flex-flow: column;
    width: 20%;
    height: 800px;
  }
  & .marqueCard {
    margin: 0;

    text-align: center;

    // box-shadow: 4px 4px 16px #444444;
    & div h2 {
      font-size: 20px;
    }
  }
}
.logo_link {
  display: flex;
  flex-flow: column;
  height: 100px;
}

img {
  height: 50px;

  object-fit: contain;
}
