<main>
  <h1>Nos Collections</h1>
  <div class="marques">
    <div class="container row flow_grid marques_list col-md-12">
      <a
        class="marqueCard col-md-4"
        *ngFor="let marque of marques"
        routerLink="/equipements/nos_collections/{{ marque.nom }}"
      >
        <div class="logo_link">
          <div class="col-md-12 marque_thumb">
            <img class="logo col-md-12" [src]="marque.logo" alt="" />
          </div>
        </div>
      </a>
    </div>

    <!-- <router-outlet></router-outlet> -->
  </div>
</main>
