<div class="main">
  <h1>Contrôle Visuel</h1>

  <div class="container row">
    <div class="col-lg-5 text-center">
      <img
        class="rodenstock_pub"
        src="assets/images/portDeLunettes.jpeg"
        alt=""
      />
    </div>
    <div class="visual-container col-lg-7 col-md-6">
      <p>
        "L'œil est un muscle qui a besoin d'être exercé". <br /><br />
        C'est une phrase que l'on entend souvent et qui sous-entend que l'on
        exerce ses yeux en laissant ses lunettes de côté. Selon ce mythe, le
        port de lunettes rendrait l'œil plus paresseux et en se relâchant
        diminuerait la capacité visuelle sur le long terme. Mais est-ce vraiment
        vrai ? Nous avons interrogé un professeur d'optométrie et d'optique
        ophtalmique et nous pouvons donc réfuter ce mythe. C'est le contraire
        qui est vrai : La presbytie peut être aggravée par le fait de ne pas
        porter de lunettes ou de porter des lunettes mal prescrites.
      </p>
    </div>
  </div>
  <div class="container row">
    <div class="visual-container col-lg-7 col-md-6">
      <p>
        L'appareil DNEYE de Rodenstock® révolutionne l'analyse de la vision
        grâce à sa technologie de pointe made in Germany. En quelques minutes,
        cet outil permet de détecter précisément vos défauts visuels tels que
        l'astigmatisme, la myopie ou l'hypermétropie. <br /><br />
        calcule avec une grande précision les caractéristiques techniques des
        verres qui vous correspondent parfaitement. DNEYE offre une expérience
        visuelle inégalée en proposant des verres 100% personnalisés et
        parfaitement adaptés à votre vue.<br /><br />
        Cette innovation signée Rodenstock vous garantit un confort de vision
        ultime au quotidien. En venant directement en magasin, vous bénéficiez
        des conseils sur-mesure de nos opticiens experts pour trouver la
        solution visuelle la mieux adaptée à vos besoins. Un contrôle régulier
        de votre vue assure protection et prévention pour préserver votre
        capital visuel.
      </p>
    </div>
    <div class="visual-item col-lg-4 col-md-5 img">
      <app-image-box
        imagePath="/assets/images/Rodenstock_DNEye_1.webp"
        backgroundColor="#69898d"
      ></app-image-box>
    </div>
  </div>
  <div class="youtube_container bg-secondColor">
    <div class="iframe_box container row">
      <div class="col-md-4 col-lg-5 text-center title_dneye">
        <h2>Découvrez notre Contrôle Visuel DNEYE de chez Rodenstock</h2>
      </div>

      <div class="col-md-12 col-lg-7 iframe_box">
        <app-iframe-box
          framePath="https://www.youtube.com/embed/3vQbjatd2qA"
          frameTitle="Rodenstock - Technologie DNEyeⓇ"
          widthFrame="560"
          heightFrame="315"
        ></app-iframe-box>
      </div>
    </div>
  </div>
</div>
