<ul class="pager" style="list-style-type: none">
  <li><a href="#"> < retour</a></li>
</ul>
<div class="bg-firstColor">
  <div class="container" style="height: 400px">
    <div class="row text-center">
      <div class="col-md-3">
        <p>ça marche</p>
      </div>
      <div class="col-md-6">
        <p>ça marche</p>
      </div>
      <div class="col-md-3">
        <p>ça marche</p>
      </div>
      <div class="col-md-6">
        <p>ça marche 4</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondColor" style="height: 300px"></div>
