.main-1 {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto;
  background-color: #aca184;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 50px;
}

.text_presentation {
  width: 85%;
  margin: auto;
  text-align: center;
  font-size: 1em;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

h1 {
  color: white;
  margin-left: 60px;
}
img {
  transition: all 0.4s ease;
}
a {
  text-decoration: none;
  color: white;
  &:hover img {
    box-sizing: border-box;
    border: 3px solid white;
    scale: 1.05;

    opacity: 80%;
    transition: all 0.4s ease;
  }
}

.link-container {
  width: 70%;
  max-width: 880px;
  color: white;
  height: auto;
  display: flex;
  margin: auto;

  justify-content: space-between;
  flex-wrap: wrap;

  &_page {
    margin-top: 20px;
    max-width: 330px;
    &-img {
      box-sizing: border-box;
      width: 100%;
      height: 330px;
      object-fit: cover;
      object-position: 0 top;
      border: 0px solid transparent;
      margin-bottom: 10px;
    }
    &-title {
      margin: 0;
      font-weight: 600;
      padding-left: 10px;
    }
    &-description {
      margin: 0;
      padding-left: 10px;
      font-size: 0.8em;
    }
  }
}
