<div class="container row service-home">
  <h1>Service à Domicile : Prenez le temps de choisir !</h1>
  <img src="assets/images/Voiture-animation.gif" alt="" />
  <div>
    <h2 class="text-center">
      A domicile, sur votre lieu de travail, en Ehpad, ... <br />Optez pour
      notre service à domicile
    </h2>
  </div>
  <div class="container row align-items-center justify-center center">
    <div
      class="col-lg-3 col-sm-8 service-icon"
      *ngFor="let info of domicileInfo"
    >
      <div class="service-text">
        <h2>{{ info.title }}</h2>
        <p>{{ info.description }}</p>
        <p>{{ info.subtitle }}</p>
      </div>
    </div>
  </div>
</div>
