/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  font-family: "Poppins", sans-serif;
}
app-root {
  position: relative;
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  // background-color: black;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-header,
app-footer {
  flex: 0;
}
main,
.main {
  flex: 1;
}
.bg-firstColor {
  background-color: #aca184;
}
.bg-secondColor {
  background-color: #69898d;
}
.bg-black {
  background-color: black;
}

// .container {
//   position: relative;
//   display: flex;
//   flex-flow: row;
//   align-items: center;
//   margin: 0 auto;
//   text-align: center;
//   width: 80%;
//   min-width: 800px;
//   height: 400px;
//   &-25 {
//     width: 25%;
//   }
//   &-33 {
//     width: 33%;
//   }
//   &-50 {
//     width: 50%;
//   }
//   &-66 {
//     width: 66%;
//   }
//   &-75 {
//     width: 75%;
//   }
// }
