<div class="menu" [@menuAnimation]="menuStateVisibility" *ngIf="isMenuVisible">
  <nav>
    <ul (click)="closeMenu()">
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/controle_visuel">Contrôle Visuel</a></li>
      <li><a routerLink="/equipements/nos_collections">Nos Collections</a></li>
      <li><a routerLink="/service">Nos Services</a></li>
      <li><a routerLink="/a_propos">A Propos</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="button-container">
  <button (click)="toggleMenu()">
    <div [@barsAnimation]="menuStateBars">{{ menuStateValue }}</div>
  </button>
</div>
